body {background-color:black;}
h1{color:gray;}
#div1 {background-color: white; width: 500; padding-left: 3%; border-radius: 25px; margin: auto; padding-top: 1%;}
#form_div {padding-left: 15%; padding-bottom: 5%; }


